<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>
<body>
<h1>Página de Productos</h1>
<p id="product1">Producto 1: <span class="availability">Disponible</span></p>
<button id="addProduct1">Agregar Producto 1</button>
<p id="product2">Producto 2: <span class="availability">Disponible</span></p>
<button id="addProduct2">Agregar Producto 2</button>
<p id="product3">Producto 3: <span class="availability">Disponible</span></p>
<button id="addProduct3">Agregar Producto 3</button>
<br>
<a href="/cart">Ir al Carrito</a>
</body>
</html>